/* APP */
@import url("https://fonts.googleapis.com/css?family=Roboto"); 

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

// LANDING
.register-general-container {
    display: flex;
    margin: 1%;
}
.register-left-container {
    background-image: url('/images/register-image.png');
    background-repeat: no-repeat;
    background-position: 50%;
    width: 50%;
    height: 99vh;
    margin: 1%
}

.register-right-container { 
    margin: auto;
    justify-content: center;
}

.register-app-title {
    font-size: 40px;
    font-weight: 200;
    color: #F77B72
}

.register-right-logo {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url('/images/logo-transparent.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.register-login-redirect-button {
    border: 0;
    color: #3897f0;
    color: rgba(var(--h5f,56,151,240),1);
    display: inline;
    padding: 0;
    position: relative;
}

#register-button {
    background-color: #F77B72;
    border-color: #F77B72;
}

// FOOTER

.footer {
    background-color: black;
    width: 100%;
    margin-top: 50px;
    height: 20px;
}

// HOME
.home {
    width: 100%;
    margin: 2% auto;
    font-family: 'Roboto', sans-serif;
}
.options-container {
    display: block;
    padding: 2%;
}

.options-container-color {
    display: block;
    background-color: #f1efef;
    padding: 2%;
}

.options-title {
    font-weight: 700;
    margin: 1% 0 0 0;
    text-align: center;
    font-size: 27px;
}
.select-option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.select-option-color {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.select-option label {
    margin-right: 10px;
}
.select-option-center label {
    margin-right: 10px;
}
.home-image-container:hover .home-select-option-img {
    opacity: 0.3;
}
.home-select-option-img {
    width: 250px;
    height: auto;
    cursor: pointer;  
    opacity: 1;
    transition: .5s ease;
    background-color: #E4717A;
}
.home-select-option-img-active {
    width: 270px;
    height: auto;
    cursor: pointer;  
    opacity: 0.3;
    transition: .3s ease;
    background-color: transparent;
}
.form-section-color {
    padding-top: 0.5px;
    padding-bottom: 20px;
    margin-top: 1%;
    background-color: rgb(241, 239, 239);
}

.button-create-div-container{
    display: flex;
    justify-content: center;
}
.button-create {
    color: white;
    background-color: #F77B72;
    width: 30%;
    height: 5%;
    padding: 1em;
    border-radius: 10px;
    border: none;
    margin: 3%;
    text-transform: uppercase;
}
select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


// GENERAL

.input-bar {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

#button-add {
    border: none;
    background: transparent;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
}

.logout-button-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;    
}

.logout-button {
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    color:White;
    font-size:14px;
    background-color: grey;
    text-align: right;
    text-justify: center;
}

.options-meal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E4717A;
    border-radius: 10px;
}

.meal {
    background-color: white;
    width: 100%;
    height: 120px;
    margin-bottom: 10%;
    border-radius: 8px;
}

.meal textarea {
    background: transparent;
    border: none;
    outline: none;
    width: 100px;
    height: 100px;
    font-family: "Roboto", sans-serif;
    resize: none;
}

.custom-plan {
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.custom-plan-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.category {
    width: 10%;
    padding: 5px;
    margin: 20px 5px;
    border-radius: 10px;
}
.category-name {
    background-color: rgb(233, 177, 186);
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border-radius: 10px;
}

.error {
    color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #880e4f;
}

.aLink{
  text-decoration: none !important;
  color: white;  
}

.aLink:hover{
  text-decoration: none !important;
  color: rgb(224, 219, 219);  
}

/* MEALPLAN */

.mealplan {
    background: white;
    text-align: center;
    margin: 0 auto;
}
.mealplan-title {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 22px;
}

.mealplan-name {
    font-size: 14px;
    text-transform: uppercase;
}

.mealplan-type {
    font-size: 14px;
    text-transform: capitalize;
}

.mealplan-meals-container {
    width: 95%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #F77B72;
    flex-direction: row;
}

.mealplan-day {
   display: flex;
   flex-direction: column; 
}

.mealplan-day-name-container {
    align-self: auto;
    border-bottom: 2px solid #f77b72;
}

.mealplan-day-name {
    font-size: 0.8em;
    text-transform: capitalize;
}

.mealplan-day-meals-container {
    flex-direction: column
}

.mealplan-default-meal-container {
    padding: 5px;
    margin: 20px 5px;
    background-color: rgb(226, 225, 225);
    border-radius: 10px;
}

.mealplan-default-meal-title {
    margin: 10px;
    font-size: 0.6em;
}